
.navbar-hover:hover{
    cursor:pointer;
    color:#fff;
    border-top: 3px solid #00aedb; 
}
nav ul li a:hover{
  border-top: 3px solid #00aedb; 

}

.nav .open>a
{
    background:none !important;
  border-top: 3px solid #00aedb !important; 
}
.nav>li>a:focus
{
    background:none !important;

}

li.active{
    border-top:3px solid #00aedb;
}
.nav .open>a:visited
{
    background:none !important;
  border-top: 3px solid #00aedb !important; 

}
.right-side{
    position: relative;
    right:0; !important;
}

.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer h4 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    padding: 40px 0 10px 0;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D;
}

.social ul{
    list-style-type: none;
}
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%; list-style-type: none;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 30px;
    line-height: 28px;
    margin:0 2px ;
    padding: 0;
    text-align: center;
    width: 31px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform:  rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 ;
    color: #EDEFF1 !important;
}
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p {
    padding-top: 6px;
}
.footer-bottom ul{
    list-style: none;
}
.footer_box{
    min-height:250px;
}
.section_footer >.back_contact_us .container-fluid{
    padding: 2% 0 !important;
}
.last{
    margin-left: -10px;
}
.last >a > i{
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%; list-style-type: none;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    height: 30px;
    line-height: 28px;
    padding: 0;
    color: #fff;
    text-align: center;
    width: 31px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.last >a > i:hover{
     transform:  rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    border: 2px solid #2c3e50;
    background: #2c3e50;
}

